@font-face {
    font-family: 'geomanistregular';
    src: url('../assets/geomanist-regular-webfont.woff2') format('woff2'),
    url('../assets/geomanist-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistlight';
    src: url('../assets/geomanist-light-webfont.woff2') format('woff2'),
    url('../assets/geomanist-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import './glasses/cocktail-bubble.scss';
@import './glasses/coup.scss';
@import './glasses/heff.scss';
@import './glasses/martini.scss';
@import './glasses/middle.scss';
@import './glasses/pint.scss';
@import './glasses/short.scss';
@import './glasses/straight.scss';
@import './glasses/wine.scss';
@import './glasses/shot.scss';

$geo: 'geomanistregular', sans-serif;
$geo-light: 'geomanistlight', sans-serif;
$blue: #273244;
$warm: #222222;
$warm-5: lighten($warm, 5%);
$warm-10: lighten($warm, 10%);
$orange: #bc520a;
$grey: #c5cad6;

body {
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: $warm;
    font-family: $geo;
}

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin web {
    @media (min-width: 769px) {
        @content;
    }
}

@mixin horizontal-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.test-button-container {
    @include horizontal-center;
    margin: 2vh 0;
}

.test-button {
    width: 200px;
    height: 60px;
    border: none;
    color: $grey;
    background-color: $orange;
    margin: 2vh 2wv;
    align-self: center;
    font-size: 1rem;
}

.test-button:hover {
    background-color: $warm;
    border: 2px solid $orange;
}

/////////////////////////////////////////////////////
///               Header
/////////////////////////////////////////////////////
.header-container {
    background-color: $orange;
    width: 100vw;
    height: fit-content;
    @include vertical-center;
    position: fixed;
    top: 0;

    @include mobile {
        top: calc(100vh - 70px);
    }

    z-index: 40;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 70px;
}

.header-item {
    margin: 0 2vw;
    @include vertical-center;
    cursor: pointer;
}

.link-text {
    text-decoration: none;
    color: $grey;
}

.link-text:hover {
    color: $warm;
}

/////////////////////////////////////////////////////
///               Welcome
/////////////////////////////////////////////////////

.welcome-container {
    @include horizontal-center;
    font-size: 2rem;
    color: $orange;

}

/////////////////////////////////////////////////////
///               Search Bar
/////////////////////////////////////////////////////

.back-container {
    position: absolute;
    width: 35px;
    height: 35px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewBox='0 0 400 400' xml:space='preserve'%3E%3Cstyle%3E.st0%7Bfill:%23bc520a%7D.st2%7Bfill:%23c5cad6%7D%3C/style%3E%3Cpath class='st0' d='M399.5 200.7C399.5 285 347.1 357 273 386c-.2.1-.3.1-.5.2-22.3 8.7-46.6 13.4-72 13.4-109.9 0-199-89.1-199-199s89.1-199 199-199c99.7 0 182.3 73.3 196.8 169v.1c1.4 9.8 2.2 19.8 2.2 30z'/%3E%3Cpath d='M399.5 200.7C399.5 285 347.1 357 273 386c-.2.1-.3.1-.5.2L126.3 240.1 279.4 87l17.1-17.1 17.4 17.4 83.3 83.3v.1a198 198 0 012.3 30z' fill='%23a84807'/%3E%3Cpath class='st2' d='M314 87.7l-113 113 113 113v.5H200.5L87 200.7 200.5 87.2H314zM200.5 200.7z'/%3E%3Cpath class='st0' d='M214 56.2h118v31H214z'/%3E%3C/svg%3E");
    margin: 1vh 0 0 1vw;
    cursor: pointer;
    @include vertical-center;
}

// .back-text {
//     color: $orange;
//     font-size: 0.8rem;
//     margin-left: 40px;
// }


.search-section {
    // @include horizontal-center;
    margin: 100px auto 0 auto;
    width: 95%;
    min-width: fit-content;
    background-color: $warm-5;

    @include mobile {
        margin: 24px auto 0 auto;
    }
}

.search-sub-section {
    @include vertical-center;
}

.search-sub-section > form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: calc(100% - 8vw);
    padding: 0 4vw 0 4vw;
    background-color: $warm-5;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80vw;
    padding: 4vw;
    background-color: $warm-5;
    margin: 80px auto 0 auto;

    @include mobile {
        margin: 24px auto 0 auto;
    }
}

.login-container >  .search-label {
    width: 100%;
}

.search-bar {
    height: 30px;
    width: 80%;
    border: none;
    background-color: $warm-5;
    border-bottom: 2px $grey solid;
    color: $grey;
    font-size: 1rem;
    padding: 12px 10px;
    margin: 0;
}
.search-label {
    color: $grey;
    font-size: 1rem;
    width: 100%;
    padding: 16px auto;
    text-align: center;
    width: 100%;
    margin: 24px 0;
}

.submit-button {
    // height: 48px; 
    margin: 0 auto 0 auto;
    background-color: $orange;
    border: none;
    color: $grey;
    font-size: 1rem;
    width: 200px;
    padding: 12px 16px;
}

.submit-button:hover {
    background-color: $warm-5;
    border: 2px solid $orange;
    cursor: pointer;
}

.random-flex {
    @include horizontal-center();
    margin-top: 1vh;
    flex-direction: row;
}

.random-flex > a {
    margin: 0 auto;
    padding: 8px 16px;
}

.random-button {
    // height: 32px; 
    margin: 0;
    background-color: $orange;
    border: 2px solid $orange;
    // border: none;
    color: $grey;
    font-size: 1rem;
    margin: 0 auto;
    padding: 16px 32px;
    opacity: 0.5;
}

.random-button:hover {
    background-color: $warm-5;
    border: 2px solid $orange;
    cursor: pointer;
    opacity: 1;
}

.no-ingredient-flex {
    @include horizontal-center;
}

.no-ingredient {
    color: $grey;
    font-size: 1rem;
}

.missing-ingredinet {
    color: $orange;
}

/////////////////////////////////////////////////////
///               search results
/////////////////////////////////////////////////////

.havent-searched-flex {
    @include horizontal-center;
    width: 80%;
}

.havent-searched {
    color: $orange;
    font-size: 2rem;
    text-align: center;
}

.main-container {
    margin: 4vh 3vw;
    display: grid;
    grid-template-areas:
    'results results results history';
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap: 1vw;
    max-width: 100%;

    @include mobile {
        grid-template-areas:
        'results results results results'
        'history history history history';
    }
}

.main-container.left-area-full {
    grid-template-areas:
    'results results results results';
}

.side-container {
    height: fit-content;
    min-height: 300px;
    grid-area: history;
    background-color: $warm-5;
    padding: 16px;
}

.left-area-container { 
    grid-area: results;
}

.card-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 100%;
}

.cocktail-card {
    width: 150px;
    height: 200px;
    background-color: $warm-5;
    margin: 2vh 1vw;
    @include horizontal-center;
}

.cocktail-card:hover {
    box-shadow: 8px 8px 8px darken($warm, 4);
    background-color: $warm-10;
    > .cocktail-card-title {
        color: $grey;
    }
}

.card-contents {
    width: 90%;
}

.cocktail-card-title {
    color: $grey;
    font-size: 1rem;
    text-align: center;
}
.card-image {
    width: 100%;
    max-height: 115px;
}

/////////////////////////////////////////////////////
///               History / Favorites
/////////////////////////////////////////////////////
//history-container is above for grid formatting

.title-box {
    border-bottom: 1px solid $orange;
    padding: 5px 0;
}

.history-title {
    margin: 0;
    color: $orange;
    font-size: 1.4rem;
}

.history-cocktail-title {
    color: $grey;
    font-size: .8rem;
    margin: 0.5vh;
}

.history-cocktail-title:hover {
    color: $orange;
    cursor: pointer;
}

/////////////////////////////////////////////////////
///               fav
/////////////////////////////////////////////////////
//history-container is above for grid formatting

.fav-title-box {
    border-bottom: 1px solid $orange;
    padding: 5px 0;
    margin-top: 5vh;
}

.fav-title {
    margin: 0;
    color: $orange;
    font-size: 1.4rem;
}

.fav-cocktail-title {
    color: $grey;
    font-size: .8rem;
    margin: 0.5vh;
}

.fav-cocktail-title:hover {
    color: $orange;
    cursor: pointer;
}

/////////////////////////////////////////////////////
///               Cocktail
/////////////////////////////////////////////////////

.one-cocktail-container {
    background-color: $warm-5;
    width: 100%;
    // height: 800px;
    padding-bottom: 40px;
}

.cocktail-content {
    margin: 0 2vw;
    padding: 1vh 0;
}

.glass-type {
    color: $grey;
    font-size: 0.8rem;
}

.favorite {
    margin: 0 0 1vh 0;
    font-size: 1rem;
    color: $grey;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-bottom: 1vh;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $warm;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: $grey;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: $orange;
}

input:focus + .slider {
    box-shadow: 0 0 1px $orange;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.first-row {
    display: grid;
    grid-template-areas:
    'ingredients img';
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
}

.title-ingredients {
    grid-area: ingredients;
}

.image-holder-col {
    grid-area: img;
    margin-top: 40px;
    @include vertical-center;
}

.image-holder-row {
    @include horizontal-center;
}

.temp-image {
    width: 80%;
    // height: 200px;
    // background-color: $orange; 
}

.cocktail-title {
    color: $orange;
    font-size: 2rem;
}

.ingredient-title {
    color: $grey;
    font-size: 1rem;
    margin: 0;
}

.ingredient {
    color: $grey;
    font-size: 0.8rem;
    margin: 0.5vh 0;
}

.second-row {
    display: grid;
    grid-template-areas:
    'description description description spacer';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
    margin-top: 1vh;
}

.instructions-container {
    grid-area: description;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.description {
    font-size: 1rem;
    color: $grey;
}

.horizontal-glass {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
     
    > div {
        margin: 0 0 8px 0;
    }
}

/////////////////////////////////////////////////////
///               New Cocktail
/////////////////////////////////////////////////////

.create-container {
    background-color: $warm-5;
    width: 100%;
    margin: 0 auto;

    @include mobile {
        margin: 10px auto 0 auto;
    }
    // height: 400px;
}

.create-title-flex {
    @include horizontal-center;
}

.create-title {
    color: $orange;
    font-size: 2rem;
    margin: 2vh 0;
}

.inputs-hor-flex {
    @include horizontal-center;
}

.inputs-vert-flex {
    @include vertical-center;
    width: 80%;
}

.inputs-submit {
    width: 200px;
    height: 60px;
    color: $grey;
    background-color: $orange;
    border: none;
    font-size: 1rem;
    margin-bottom: 2vh;
}

.cocktail-input {
    background-color: $warm-5;
    border: none;
    border-bottom: 2px solid $orange;
    width: 100%;
    margin: 1vw 0;
    color: $grey;

    > option:not(:first-of-type) {
        color: $grey;
    }
}

.label-input-group {
    > label {
        color: $grey;
    }
}


.ingredient-input-group {
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    width: 80%;

    > label {
        width: 120%;
        color: $grey;
    }
}

/////////////////////////////////////////////////////
///               Login
/////////////////////////////////////////////////////

.login-message {
    font-size: 1.3rem;
    color: $orange;
}

.cocktail-bubble {
    background-color: $grey;
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
    @include horizontal-center;
    margin: 1vw;
}

// .vertical-center {
//     @include vertical-center;
// }

// .horizontal-center {
//     @include horizontal-center;
// }